@charset "UTF-8";

html,
body,
#app {
 max-height: 100%;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  user-select: none;
  max-width: 100%;
  overflow-x: hidden;
}


@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");


.loader {
    position: fixed;top:50%;left: 50%;z-index: 99;margin-left: -20px;margin-top:-21px;
    background: #ffff;border-radius: 100%;
    border: 1px solid #ddd;
    width: 39px;
    height: 38px;
    top: 50% !important;
}

.v-spinner .v-clip {
    height: 25px !important;
    width: 25px !important;
    border-width: 3px !important;    
}

.v-spinner {
    margin: 5px auto !important;
    text-align: center;
}


.swiper {
    height: 300px;
    width: 100%;
  
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: bold;
    //   font-size: $font-size-huge * 2;
    //   background-color: $white;
    }
  }

@media (max-width: 426px) {
    
}

@media only screen and (min-device-width: 360px) and (max-device-width: 416px),
screen and (min-device-height: 640px) and (max-device-height: 846px)  { 
    .swiper {
         height: 580px !important;
         margin-top: 23px !important;
     }

     .swiper-wrapper {
        width: 0px !important;
    }
 
     .swiper .swiper-slide {
         height: 119px !important;
     }

     .imgPreview {
         height: 77px !important;
     }

     .empty-data {
        -webkit-transform: translate(14%, -50%) !important;
        transform: translate(5%, -50%) !important;
        margin-top: 87% !important;
    }

}

@media only screen and (max-width: 320px) {
    .empty-data img {
        width: 300px;
     }
 
     .footer-item {
         padding: 8px 17px 0px 50px !important;
     }
 
     .imgPreview {
         width: 128px !important;
     }
 
     .swiper {
         height: 500px !important;
         margin-top: 25px !important;
     }


     .swiper .swiper-slide {
        height: 131px !important; 
     }

    .empty-data {
        -webkit-transform: translate(14%, -50%) !important;
        transform: translate(5%, -50%) !important;
        margin-top: 87% !important;
    }
}


// @media only screen and (width: 411px) and (max-height: 740px) { 

//     .swiper {
//         height: 600px !important;
//         margin-top: 50px !important;
//     }
// }


@media screen and (min-width: 321px) and (max-width: 375px) {
    .empty-data img {
        width: 300px;
     }

    .footer-item {
        padding: 8px 17px 0px 50px !important;
    }

    .swiper {
        height: 555px !important;
        margin-top: 25px !important;
    }

}

// @media screen and (width: 375px) and (min-height: 812px) { 
//     .swiper {
//         height: 700px !important;
//         margin-top: 50px !important;
//     }

//     .imgPreview {
//         height: 95px !important;
//     }

//     .swiper-wrapper {
//         width: 0px !important;
//     }
// }

// @media only screen and (width: 411px) and (min-height: 823px) { 
//     .swiper {
//         height: 712px !important;
//         margin-top: 50px !important;
//     }

//     .imgPreview {
//         height: 95px !important;
//     }

//     .swiper-wrapper {
//         width: 0px !important;
//     }
// }


@media only screen and (min-width: 760px) and (max-height: 1024px) { 

    .swiper {
        height: 891px !important;
        margin-top: 46px !important;
    }

    .imgPreview {
        height: 95px !important;
    }

    .swiper-wrapper {
        width: 0px !important;
    }

    .empty-data {
        -webkit-transform: translate(-5%, -50%) !important;
        transform: translate(25%, -50%) !important;
        margin-top: 59% !important;
    }
}


@media only screen and (min-device-width: 1024px) { 

    .modal-container {
        width: 80% !important; 
    }

    .swiper {
        height: 700px !important;
        margin-top: 46px !important;
    }

    .imgPreview {
        height: 100px !important;
        width: 171px;
    }

    .swiper-wrapper {
        width: 0px !important;
    }

    .page-container {
        text-align: center;
    }
 
    .image-container > div {
      flex: 0 25% !important;
     }
 
     .align-chart {
         width: 32% !important;
         height: 15% !important;
         top: 21% !important;
     }
 
     .modal-container {
         width: 33% !important;
     }
 
     .empty-data {
        transform: translate(-1%, -50%) !important;
        margin-top: 25% !important;
    }
}



